<li class="post-main-container">
    <div class="post-header">
        <%= link_to  user_path(post.user) do %>
        <div class="post-author-image-wrapper">
            <div class="image">
                <%= image_tag(post.user.gravatar_url) %>
            </div>
        </div>
        <%end %>
        <div class="author-names">
            <%= link_to  user_path(post.user) do %>
            <h3>
                <%= post.user.name.split(" ")[0].capitalize%>
                <%= post.user.name.split(" ")[1].capitalize if post.user.name.split(" ")[1]%>
            </h3>
            <%end %>
            <span>
                <%= post.created_at.strftime("%Y/%m/%d") %>
            </span>
        </div>
    </div>
    <div class="post-content">
        <div class="content">
            <%= post.content %>
        </div>
        <div class="post-image">
            <%= image_tag("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") %>
        </div>

        <div class="post-details">
            <div class="post-likes-container">
                <div class="like-count-icon">
                    <%= image_tag("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%2318AFFF'/%3e%3cstop offset='100%25' stop-color='%230062DF'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0'/%3e%3c/filter%3e%3cpath id='b' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z'/%3e%3c/g%3e%3c/svg%3e")%>
                </div>
                <span><%= post.likes.count %></span>
            </div>
            <div class="post-comment-count">
                <span><%= post.comments.count %></span>
                Comments
            </div>

        </div>
    </div>
    <div class="post-add-like-comment-area">
        <div class="like-post item">
            <%= like_or_dislike_btn(post) %>
        </div>
        <div class="comment-post item">
            <a href="#">
                <i class="bi bi-chat-square"></i>
                Comment
            </a>
        </div>
        <div class="comment-share item">
            <a href="#">
                <i class="bi bi-share"></i>
                Share
            </a>
        </div>
    </div>

    <div class="comments-main-container">
        <div class="header">
            <h3>Comments</h3>
        </div>
        <div class="comments-wrapper">
            <%= render partial: 'comments/comment', collection: post.comments %>
        </div>
        <div class="comment-input-wrapper">
            <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
            <div class="user-container">
                <div class="image">
                    <%= image_tag(current_user.gravatar_url)%>
                </div>
            </div>
            <div class="form-main-container">
                <div class="form-input">
                    <%= form.text_field :content, id: :comment_content, class: '', placeholder: 'Write a comment' %>
                </div>
                <div class="send-btn">
                    <%= button_tag type: 'submit', class: "send-comment-btn" do %>
                    <i class='bi bi-cursor-fill'></i>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <%
=begin%>
    <div class="post-comments-wrapper">
        <div class="comments">
            <%= render partial: 'comments/comment', collection: post.comments %>
        </div>
        <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
        <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new Comment' %>
        <%= form.submit 'Comment', class: '' %>
        <% end %>
    </div>
    <%
=end%>
    <%
=begin%>
    <div>
        <div class='post-attribution'>
            <%= link_to post.user.name, user_path(post.user), class: 'post-author' %>
        </div>
        <div class='post-liking'>
            <span class='post-date'> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
            <%= like_or_dislike_btn(post) %>
        </div>
    </div>
    <p class="post-content">
        <%= post.content %>
    </p>

    <div class='post-comments-section'>
        <%= render partial: 'comments/comment', collection: post.comments %>

        <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
        <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new Comment' %>
        <%= form.submit 'Comment', class: 'btn btn-secondary' %>
        <% end %>
    </div>
    <%
=end%>
</li>